# dependencies
frontend/node_modules
backend/node_modules
frontend/.pnp


# testing
/coverage

# production
frontend/build

# environment
frontend/.env
backend/.env

# video 
video

# others
.DS_Stode
frontend/.DS_Stode
